.films-populaires{
    height: 100vh;
    background-color: $color-black-un;
    .container{
        height: 100% !important;
        width: 80% !important;
        margin: 0 auto !important;
    }
    .list-filmspopulare{
        width: 90%;
        padding: 0.5% 0.5%;
        margin: 0 auto;
        // background-color: azure;
    }
}

