$color-wite : rgb(255,255,255);
$color-red : rgb(255,0,0);
$color-black : rgb(0,0,0);
$color-black-un : rgb(32,32,32,0.9);
$color-black-uns : rgb(32,32,32,0.5);
$color-black-deux : rgba(39, 40, 41);
@import 'style-global.scss', 
'head.scss',
'accueil.scss',
'sectionFilmsPopulaires.scss',
'list-filmsAlaune.scss',
'footer.scss',
'backToTop.scss'