@charset "UTF-8";
/**
Style global
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: red;
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

section,
footer {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: left;
  padding-bottom: 5px;
  margin-left: 7%;
}
.section-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 15px;
  position: relative;
  color: white;
}
.section-title h2::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  background: red;
  bottom: 0;
  left: 0;
}
.section-title h2 span {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: normal;
}

.card {
  padding: 0;
  position: relative;
  border: none;
  background-color: transparent;
  position: relative;
  margin: 10px;
}
.card img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
}
.card img:hover {
  animation: pulse;
  animation-duration: 1s;
}
.card .card-body {
  color: white;
  padding: 0 !important;
  font-size: 1rem;
}
.card .card-body p {
  padding: 0;
  margin-bottom: 5px;
}
.card .card-body p span {
  height: 25px;
  width: 50px;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}
.card .card-body p span:nth-child(2) {
  width: 80px;
  border: 2px solid red;
  border-radius: 25px;
}
.card .card-body .card-title {
  margin-top: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.card .film-info {
  opacity: 0;
  position: absolute;
  height: 0;
  right: -1px;
  top: 0;
  width: 25%;
  z-index: 3;
  background: red;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card .film-info div {
  border: none;
  transition: 0.3s ease-in-out;
}
.card .film-info div svg {
  color: white;
  font-size: 1.5rem;
}
.card .film-info div:hover {
  border-radius: 100%;
  border: 2px solid white;
  padding: 5px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.card:hover .film-info {
  opacity: 1;
  height: 50%;
  border-radius: 0 5px 0 0;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.6s;
}

section .bouton-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section .bouton-navigation span {
  color: white;
  width: 150px;
  margin: 15px;
  height: 2.5rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
section .bouton-navigation span:hover {
  transform: scale(0.89);
}

/*--------------------------------------------------------------
# En-tête : Menu de navigation
--------------------------------------------------------------*/
/*
  # Animate - settings
*/
@keyframes animate-settings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.entete {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background: rgba(32, 32, 32, 0.5);
}
.entete.header-scrolled,
.entete .header-inner-pages {
  background: rgba(32, 32, 32, 0.5);
}
.entete .logo {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Orbitron", cursive;
}
.entete .logo a {
  color: white;
  text-decoration: none;
}
.entete .logo span {
  color: red;
}
.entete span {
  width: 35% !important;
  text-align: center;
}
.entete span svg {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.entete span svg:hover {
  transform: rotateZ(90deg);
  transition: all 0.3s ease-in;
}
.entete .navbar li a {
  font-weight: bold;
}
.entete #settings {
  margin-left: 30px;
  font-size: 1.9rem;
  cursor: pointer;
  border-color: white;
}
.entete #settings svg {
  color: red;
  animation: animate-settings 1s linear infinite;
}
.entete #settings svg:hover {
  animation-play-state: paused;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  text-transform: uppercase;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:hover {
  color: red;
}
.navbar .active {
  color: red;
}
.navbar i {
  font-size: 2rem;
  margin: 5px;
  background-color: red;
  border-radius: 5px;
}

/**
  * Navigation pour Mobile 
  */
.mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: white;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  #settings {
    display: none;
  }

  #searchBox {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 32, 32, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: rgba(32, 32, 32, 0.9);
}
.navbar-mobile a:hover {
  color: red;
}
.navbar-mobile .active {
  color: red;
}
.navbar-mobile li:hover > a {
  color: red;
}

.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: red;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}
.carousel-item img {
  object-fit: cover;
}
.carousel-item .w-100 {
  height: 100vh;
}
.carousel-item .caption-container {
  background-color: rgba(32, 32, 32, 0.9);
}

.carousel-caption {
  width: 42vw;
  bottom: 8.6rem;
  left: 130px;
  text-align: start;
}
.carousel-caption h5 {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carousel-caption p {
  height: 50px;
  width: 70%;
}
.carousel-caption div {
  height: 20px;
  width: 100%;
}
.carousel-caption div span {
  height: 25px;
  width: 50px;
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.carousel-caption div span:nth-child(2) {
  border: 2px solid red;
  border-radius: 25px;
}
.carousel-caption div, .carousel-caption p {
  display: flex;
  margin-bottom: 15px;
  font-style: 18px;
  line-height: 1;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel-caption a {
  height: 2.5rem;
  width: 120px;
  background: red;
  margin: 50px 15px 15px 0px;
  padding-right: 15x;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-decoration: none;
  letter-spacing: 0.05rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-radius: 0.3rem;
  z-index: 1;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.carousel-caption a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 16px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95);
}
.carousel-caption a svg {
  font-size: 1.8rem;
  font-weight: bold;
}

.films-populaires {
  background-color: rgba(32, 32, 32, 0.9);
}

.films-alaune {
  background-color: #272829;
}

.footer-section {
  background: rgba(32, 32, 32, 0.9);
}
.footer-section .logo {
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Orbitron", cursive;
}
.footer-section .logo a {
  color: white;
  text-decoration: none;
}
.footer-section .logo span {
  color: red;
}
.footer-section address {
  padding-top: 15px;
  color: white;
  opacity: 0.4;
}
.footer-section .reseauSocial ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  letter-spacing: 5px;
}
.footer-section .reseauSocial ul li {
  margin-right: 15px;
}
.footer-section .reseauSocial ul li a svg {
  font-size: 1.5rem;
  color: white;
}
.footer-section .reseauSocial ul li a svg:hover {
  color: red;
}
.footer-section .affichage {
  font-size: 1rem;
  padding-top: 15px;
  left: 0;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  color: white;
}
.footer-section ul {
  list-style: none;
  line-height: 2;
}
.footer-section ul li a {
  text-decoration: none;
}
.footer-section ul li a :hover {
  color: red;
}

.footer-bottom {
  padding: 22px 20px;
  color: white;
  background-color: #272829;
}

.copyright {
  float: left;
}

.concepteur {
  float: right;
  font-size: 13px;
}
.concepteur a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer-bottom {
    padding-top: 20px 0px;
  }

  .copyright {
    text-align: center;
    float: none;
  }

  .concepteur {
    text-align: center;
    float: none;
    padding-top: 4px;
  }
}
/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: visible;
  opacity: 1;
  right: 15px;
  bottom: 45px;
  z-index: 999;
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.back-to-top svg {
  font-size: 1.8rem;
  color: white;
  line-height: 0;
}
.back-to-top:hover {
  background: red;
  color: white;
  transform: scale(1.2);
}

.search-movies {
  background: rgba(32, 32, 32, 0.9);
  padding-top: 75px;
  height: 100vh;
}
.search-movies svg {
  color: white;
  font-size: 1.5rem;
}
.search-movies .btn-search {
  border-radius: 0 8px 8px 0;
  height: 40px;
  width: 60px;
  background: red;
  cursor: pointer;
}
.search-movies .search-input {
  outline: none;
  box-shadow: none;
  height: 40px;
  border-radius: 8px 0 0 8px;
}

.detail-movie {
  background: rgba(32, 32, 32, 0.9);
}
.detail-movie .detail {
  color: white;
  position: relative;
}
.detail-movie .detail img {
  object-fit: cover;
}
.detail-movie .detail .filter {
  background: rgba(0, 0, 0, 0.94);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.detail-movie .detail .filter .autres-details {
  background: white;
}
.detail-movie .detail .filter .sous-titre {
  list-style: none;
  display: flex;
}
.detail-movie .detail .filter .sous-titre li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.detail-movie .detail .filter .sous-titre li:nth-child(1) {
  border: 1px solid white;
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}
.detail-movie .note-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-movie .progress {
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  transition: all 0.6s;
}
.detail-movie .progress:hover {
  border: 2px solid white;
  box-shadow: 2px red;
  transform: scale(1.2);
}
.detail-movie .progress:hover .progress-bar {
  background: red;
}
.detail-movie .progress .progress-bar {
  background: rgba(255, 8, 0, 0.767);
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}
.detail-movie .addToList {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.6s;
  background: rgba(255, 8, 0, 0.767);
}
.detail-movie .addToList:hover {
  background: red;
  transform: scale(1.2);
}
.detail-movie .tete-affiche h5 {
  color: rgba(32, 32, 32, 0.9);
  font-size: 1.5rem;
  font-weight: bold;
}
.detail-movie .tete-affiche .card {
  width: 8rem;
  color: rgba(32, 32, 32, 0.9);
}
.detail-movie .tete-affiche .card img {
  object-fit: contain;
}
.detail-movie .tete-affiche .card .card-body .card-title {
  color: rgba(32, 32, 32, 0.9);
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2px;
}
.detail-movie .tete-affiche .acteurs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 13rem;
  overflow-y: hidden;
}

/*# sourceMappingURL=styles.css.map */
